* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* .container {
    width: 50%;
    margin: 20px auto;
    box-shadow: 0 4px 8px 0 #0526ff48, 0 6px 20px 0 #05008b76;
} */

/* .header-container {
    display: flex;
    justify-content: center;
    margin-top: auto;
    align-items: center;
    background-color: #006199;
    height: 60px;
}

.text-header {
    color: white;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.html-form {
    padding: 20px;
    width: 100%;
}

.input-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

label {
    flex-basis: 250px;
    font-size: 20px;
}

.input-container {
    width: 100%;
    font-size: 15px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="range"] {
    width: 100%;
    margin: 10px 0 0 15px;
}

output {
    font-size: 20px;
    margin-top: 10px;
    flex-basis: 110px;
}

.button {
    width: 100%;
    font-size: 20px;
    padding: 10px;
    background-color: #006199;
    opacity: 0.8;
    color: white;
    border: none;
    border-radius: 50px;
    margin-top: 10px;
}

.button:hover {
    cursor: pointer;
    color: aliceblue;
    background-color: #006199;
    opacity: 1;
} */
